@model fletnix.Models.Movie


@section scripts {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function() {
            $('#sampletext').remove();
            readURL(this);
        });
    </script>
}

<div class="container-fluid" style="background-color: white; padding-top: 45px; padding-bottom: 45px;">
    <div class="row">
        <div class="col-md-10">
            <h3>Editing Movie</h3>
        </div>
        <div class="col-md-2">
            <a asp-action="Index"> <button style="background-color: white; border: 1px solid #CCC; color: black;" class="btn fletnix-btn">Back to List</button></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <form asp-action="Edit">
                <div class="form-horizontal" style="padding: 25px; text-align: left;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MovieId" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="MovieId" class="form-control"/>
                            <span asp-validation-for="MovieId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Title" class="form-control"/>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Duration" placeholder="Duration in minutes" class="form-control"/>
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Description" class="form-control"/>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PublicationYear" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PublicationYear" class="form-control"/>
                            <span asp-validation-for="PublicationYear" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CoverImage" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="CoverImage" id="imgInp" name="cover" type="file" class="form-control"/>
                            <span asp-validation-for="CoverImage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PreviousPart" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="PreviousPart" class="form-control" asp-items="ViewBag.PreviousPart"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Price" class="form-control"/>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Url" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Url" class="form-control"/>
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save changes" class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3">
            <div class="shadow" style="cursor: pointer; padding: 10px; text-align: center; width: 95%; background-color: white; min-height: 540px;">
                <img width="100%" id="preview" src=""/>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Movie cast</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="row">
                <div class="col-md-12">
                    <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" width="100%"/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12 text-center">
                    Nicky Romeijn<br>Director
                </div>
            </div>
        </div>

        <div data-toggle="modal" data-target="#castmodel" class="col-md-1" style="border: 1px dashed #CCCCCC; cursor: pointer; min-height: 150px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <i style="font-size: 48px; color:#CCCCCC; padding-top: 50px;" class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>


</div>



<div class="modal fade" id="castmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Cast</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div style="padding: 10px; text-align: center; width: 95%; background-color: white;">
                            <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" width="100%"/>
                        </div>
                    </div>
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Role</label>
                                    <div class="col-md-10">
                                        <input class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Firstname</label>
                                    <div class="col-md-10">
                                        <input class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Lastname</label>
                                    <div class="col-md-10">
                                        <input class="form-control"/>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Gender</label>
                                    <div class="col-md-2">
                                        <label style="font-weight: normal;">
                                            Male <input type="radio" name="gender" value="M"/>
                                        </label>

                                    </div>
                                    <div class="col-md-5">
                                        <label style="font-weight: normal;">Female
                                            <input type="radio" name="gender" value="F"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button"class="btn btn-default fletnix-btn " style="color: black; border: 1px solid #CCCCCC; background-color: white;" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;">Save changes</button>
            </div>
        </div>
    </div>
</div>
