@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
<div style="margin-top:17%;">
	<h1 class="cta-pitch" style="color:white; font-size: 6.4em; font-family:arial ">See what’s next</h1>
	<h2 style="font-weight:400;" class="cta-pitch">WATCH ANYWHERE. CANCEL ANYTIME.</h2>
	<button style="text-transform: uppercase; margin-top:20px; border:none; border-radius:0px; padding:7px 20px 7px 20px; color:white; font-size:1em;" class="fletnix-btn fletnix-red-background">Join free for a month</button>		
</div>
	
</div>


