@model LoginViewModel

@{
    Layout = "_FletnixLayout";
}


@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container-fluid body-content" style="margin-top:30px; padding-bottom:150px; height:100vh; background-image:url('/images/thecrown.jpg'); background-size:cover;">
    <div class="row" style="padding:30px;">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="min-height:440px; padding-bottom:25px; background-color:white;">
            <h2 class="light" style="color:black;">Sign in</h2> <hr>
              <form asp-route="Login">
				<input type="hidden" asp-for="ReturnUrl" />
                <span asp-validation-summary="ModelOnly"></span>

                @if (ViewBag.FormNotification != null)
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> @ViewBag.FormNotification
                    </div>
                }

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <div class="form-group has-success has-warning has-error">
                            <label asp-for="Username"></label>
                            <input type="text" asp-for="Username" style="width: 100%;" class="form-control-custom form-control"/>
                            <span class="help-block" asp-validation-for="Username"></span>
                        </div>
                    </div>

                </div>
                <div class="row"  style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <div class="form-group has-success has-warning has-error">
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" style="width: 100%;"  class="form-control-custom form-control"/>
                            <span class="help-block" asp-validation-for="Password"></span>
                        </div>
                    </div>
                </div>

                @if (Model.AllowRememberLogin)
                {
                    <div class="form-group login-remember">
                        <label asp-for="RememberLogin">
                            <input asp-for="RememberLogin">
                            <strong>Remember My Login</strong>
                        </label>
                    </div>
                }<br>

                <button style="margin-top:20px; width:100%; height:55px; border:none; border-radius:0px; padding:7px 20px 7px 20px; color:white; font-size:18px;" class="fletnix-btn fletnix-red-background">Sign in</button>
                <hr>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="container-fluid">
    <br>
    <p style="color: #777777; font-size: 16px;">Totally not copied from Netflix..</p>
</div>