@{
    Layout = "_Layout";
    if (ViewBag.indicator == null)
    {
        ViewBag.indicator = "Overview";
    }
}

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #EEEEEE; height: 25px; margin-top: 80px; padding-right:20px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
       <h1 class="fletnix-red-font" style="margin-top:18px; margin-left: 15px; text-transform: uppercase; font-size:15px;">@ViewBag.indicator</h1>
    </div>

    <div class="navbar-admin navbar-collapse collapse">
        <ul class="nav navbar-nav" style="margin-left: 15px;">
            <li><a href="/admin/movie">Movies</a></li>
            <li><a href="/admin/person">Persons</a></li>
            <li><a href="/admin/movie">MovieAwards</a></li>
        </ul>
    </div>
    <div class="crudNotification" style="display: none;">Successfully added castmember</div>
</nav>

<div id="bodyContainer" ng-app="fletnix" style="margin-top: 50px;">
@RenderBody()
</div>


@section stylesheets {
    @RenderSection("Stylesheets", required:false)
}


@section scripts {
    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="~/js/app.js"></script>
    @RenderSection("Scripts", required: false)
}
