@{
    ViewData["Title"] = "Access denied";
}

<div class="container-fluid" style="margin-top: 60px; padding-left: 25px;">
    <h1 class="text-danger" style="color: white; font-family: arial;">Access denied</h1>
    <h2 class="text-danger" style="color: white;">You are not authorised to view this page</h2><br>
    <a href="/"><button class="button fletnix-btn">Click here to return</button></a>
</div>
