@using Microsoft.AspNetCore.Http
@model fletnix.Models.Person
@{
    Layout = "_AdminLayout";
    string referal = Context.Request.Query["ref"];
    string editType = Context.Request.Query["editType"];
}

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/cr-1.3.3/fh-3.1.2/r-2.1.1/sc-1.4.2/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#genderSelector').change((e) => {
                $('#preview').attr('src', '/images/'+ $('#genderSelector').find(':selected').val()+'cast.png');
            });
        });
	
    </script>
}


<div class="container-fluid" style="background-color: white; padding-top: 45px; padding-bottom: 45px;">
    <div class="row">
        <div class="col-md-10">
            <h3>Adding Person </h3>
        </div>

    </div>


    <hr/>
    <div class="row">

        <div class="col-md-2">
            <div class="shadow" id="previewContainer" style="cursor: pointer; padding: 10px; text-align: center; width: 95%; background-color: white; min-height: 225px;">
                <img width="100%" id="preview" src="~/images/mcast.png"/>
            </div>
        </div>

        <div class="col-md-9" style="padding-top: 20px;">
            <form asp-action="Create" asp-route-ref="@referal" asp-route-editType="@editType">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PersonId" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PersonId" class="form-control"/>
                            <span asp-validation-for="PersonId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Firstname" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Firstname" class="form-control"/>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Lastname" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Lastname" class="form-control"/>
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select id="genderSelector" asp-for="Gender" class="form-control">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
			@if(referal != null){
			    <a asp-action="Edit" asp-controller="Movie" asp-route-id="@referal" > <button style="background-color: white; border: 1px solid #CCC; color: black;" class="btn fletnix-btn">Back to Movie</button></a>
			} else {
			    <a asp-action="Index"> <button style="background-color: white; border: 1px solid #CCC; color: black;" class="btn fletnix-btn">Back to List</button></a>
			}
        </div>
    </div>



    <div class="row" style="margin-top: 25px;">
        <div class="col-md-12">

        </div>
    </div>

</div>